@model  Projet_Asp_Location_Voitures_2021.Models.Locataire

@{
    ViewBag.Title = "Delete";
  
}
<head>
    <style>
        body {
            margin-top: 50px;
            background-position: center;
            /* Center the image */ background-repeat: repeat-y; /* Do not repeat the image */
            background-size: cover;
            background-image: url("/images/profilbg.jpg");
            height: 100vh;
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #BA68C8;
        }

        .profile-button {
            background: #BA68C8;
            box-shadow: none;
            border: none;
        }

            .profile-button:hover {
                background: #682773;
            }

            .profile-button:focus {
                background: #682773;
                box-shadow: none;
            }

            .profile-button:active {
                background: #682773;
                box-shadow: none;
            }

        .back:hover {
            color: #682773;
            cursor: pointer;
        }

        .rounded-circle {
            margin-bottom: 15px;
        }
    </style>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel="stylesheet">
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

</head>

<body class="body">
    @Html.AntiForgeryToken()


    <div class="container rounded bg-white">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-sm-8">
            <div class="form-horizontal">

                <div class="row">

                    <div class="col-md-10">
                        <div class="p-3 py-7">
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <h3 class="text-left text-danger">Voulez-vous vraiment Supprimer ce compte?</h3><br />
                            </div>

                            <div>
                                <div class="row mt-2">
                                    <h5 class="col-md-4">Nom :</h5>
                                    <div class="col-md-4">@Html.DisplayFor(model => model.Name_Loc, new { htmlAttributes = new { @class = "form-control", placeholder = "Nom Complet" } })</div>
                                </div>
                                <div class="row mt-3">
                                    <h5 class="col-md-4">Email :</h5>
                                    <div class="col-md-4">@Html.DisplayFor(model => model.Email_Loc, new { htmlAttributes = new { @class = "form-control", placeholder = "Tél" } })</div>
                                </div>
                                <div class="row mt-3">
                                    <h5 class="col-md-4">Mot de passe :</h5>
                                    <div class="col-md-3">@Html.DisplayFor(model => model.Password_Loc, new { htmlAttributes = new { @class = "form-control", placeholder = "Statut" } })</div>
                                    <h5 class="col-md-3">Permis :</h5>
                                    <div class="col-md-2">@Html.DisplayFor(model => model.Permis, new { htmlAttributes = new { @class = "form-control", placeholder = "Tél" } })</div>

                                </div>
                                <div class="row mt-3">
                                    <h5 class="col-md-3">CIN :</h5>
                                    <div class="col-md-3">@Html.DisplayFor(model => model.Cin_Loc, new { htmlAttributes = new { @class = "form-control", placeholder = "Tél" } })</div>
                                    <h5 class="col-md-3">Téléphone :</h5>
                                    <div class="col-md-3">@Html.DisplayFor(model => model.Phone_number_Loc, new { htmlAttributes = new { @class = "form-control", placeholder = "Statut" } })</div>
                                </div>
                                <div class="row mt-3">
                                    <h5 class="col-md-3">Adresse :</h5>
                                    <div class="col-md-7">@Html.DisplayFor(model => model.Adresse_Loc, new { htmlAttributes = new { @class = "form-control", placeholder = "Statut" } })</div>
                                </div>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions">
                                        <div class="col-md-4"></div>
                                        <input type="submit" value="Delete" class="btn btn-danger col-md-4" style="width:35%;" /> 
                                    </div>
                                }


                            </div>

                        </div>

                    </div>
                </div>
                
            </div>
        </div>
        </div>


</body>







