@model Projet_Asp_Location_Voitures_2021.Models.Voiture

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Couleur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Promotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_Voiture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_Voiture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proprietaire.Name_Prop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proprietaire.Name_Prop)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
          
        </div>
    }
</div>
