@model Projet_Asp_Location_Voitures_2021.Models.Voiture
@{ Layout = "~/Areas/Proprietaire/Views/Shared/UserLayout.cshtml";
}
@{
    ViewBag.Title = "Edit";
}
<!DOCTYPE html>
<html>
<head>
    <title>Modifier Voiture</title>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
        body {
            
            background-position: center;
          background-repeat: repeat-y; 
            background-size: cover;
            background-image: url("/images/bg-edit-car.jpg");
            height: 100vh;
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #BA68C8
        }

        .profile-button {
            background: #BA68C8;
            box-shadow: none;
            border: none
        }

            .profile-button:hover {
                background: #682773
            }

            .profile-button:focus {
                background: #682773;
                box-shadow: none
            }

            .profile-button:active {
                background: #682773;
                box-shadow: none
            }

        .back:hover {
            color: #682773;
            cursor: pointer
        }
      
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="container col-md-10 col-md-offset-1">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Voiture)
        @Html.HiddenFor(model => model.Image_Voiture)
        @Html.HiddenFor(model => model.Id_Prop)
        @Html.HiddenFor(model => model.Image_Name)

        <div class="col-md-8">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle" src="@Url.Content("~/images/" + Model.Image_Name)" width="400" height="300"></div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">

                <div class="row mt-2">
                    <div class="col-md-6">@Html.EditorFor(model => model.Marque, new { htmlAttributes = new { @class = "form-control", placeholder = "Marque" } })</div>
                    <div class="col-md-6">@Html.EditorFor(model => model.Prix, new { htmlAttributes = new { @class = "form-control", placeholder = "Prix" } })</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">@Html.EditorFor(model => model.Couleur, new { htmlAttributes = new { @class = "form-control", placeholder = "Couleur" } })</div>
                    <div class="col-md-6">@Html.EditorFor(model => model.Annee, new { htmlAttributes = new { @class = "form-control", placeholder = "Annee" } })</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">@Html.EditorFor(model => model.Promotion, new { htmlAttributes = new { @class = "form-control", placeholder = "Promotion" } })</div>

                </div>

                <div class="mt-5 text-right"><input type="submit" value="Sauvegarder" class="btn btn-primary" /></div>
            </div>
        </div>
    </div>
    }
    </body>
</html>
   