
@model Projet_Asp_Location_Voitures_2021.Models.Proprietaire

@{
    ViewBag.Title = "Inscrition_Prop";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inscription</title>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    <!-- Title Page-->
    <title>Inscription</title>
    <!-- Icons font CSS-->
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- Vendor CSS-->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/css/main.css" rel="stylesheet" media="all">
    <style>
        body {
            margin-top: 30px;
            background-position: center;
            /* Center the image */ background-repeat: repeat-y; /* Do not repeat the image */
            background-size: cover;
            background-image: url("/images/profilbg.jpg");
        }
    </style>
</head>

<body>

    @using (Html.BeginForm("Index", "Default", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="page-wrapper  p-t-45 p-b-50">
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">Inscription</h2>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-row">
                                <div class="name">Nom Complet :</div>
                                <div class="value">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Name_Prop, new { htmlAttributes = new { @class = "input--style-5" } })
                                        <label class="label--desc">@Html.ValidationMessageFor(model => model.Name_Prop, "", new { @class = "text-danger" })</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Email :</div>
                                <div class="value">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Email_Prop, new { htmlAttributes = new { @class = "input--style-5" } })
                                        <label class="label--desc">@Html.ValidationMessageFor(model => model.Email_Prop, "", new { @class = "text-danger" })</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Mot de Passe :</div>
                                <div class="value">
                                    <div class="input-group">
                                        @Html.PasswordFor(model => model.Password_Prop, new { @class = "form-control" })
                                        <label class="label--desc">@Html.ValidationMessageFor(model => model.Password_Prop, "", new { @class = "text-danger" })</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row m-b-55">
                                <div class="name">Tel :</div>
                                <div class="value">
                                    <div class="row row-refine">
                                        <div class="col-9">
                                            <div class="input-group-desc">
                                                @Html.EditorFor(model => model.Phone_number_Prop, new { htmlAttributes = new { @class = "input--style-5" } })

                                                <label class="label--desc">@Html.ValidationMessageFor(model => model.Phone_number_Prop, "", new { @class = "text-danger" })</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Adresse :</div>
                                <div class="value">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.Adresse_Prop, new { htmlAttributes = new { @class = "input--style-5" } })
                                        <label class="label--desc">@Html.ValidationMessageFor(model => model.Adresse_Prop, "", new { @class = "text-danger" })</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row p-t-20">
                                <label class="label label--block">Quel est votre statut ?</label>
                                <div class="p-t-15">
                                    <label class="radio-container m-r-55">
                                        Particuler
                                        @Html.RadioButtonFor(model => model.Type, "Particulier")
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">
                                        Agence
                                        @Html.RadioButtonFor(model => model.Type, "Agence")
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label--desc">@Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="editor-field">
                                    <label class="label label--block">Télécharger votre image :</label>
                                    <input type="file"  name="postedFile" />
                                </div>
                            </div>
                            <div>
                                <button class="btn btn--radius-2 btn--red" type="submit">S'inscrire</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jquery JS-->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <!-- Vendor JS-->
        <script src="~/vendor/select2/select2.min.js"></script>
        <script src="vendor/datepicker/moment.min.js"></script>
        <script src="vendor/datepicker/daterangepicker.js"></script>
        <!-- Main JS-->
        <script src="~/js/global.js"></script>
    }
    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
<!-- end document-->