<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home Page</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <!-- fraimwork - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">

    <!-- icon - css include -->
    

    <!-- animation - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/aos.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">

    <!-- carousel - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick-theme.css">

    <!-- popup - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/magnific-popup.css">

    <!-- select options - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/nice-select.css">

    <!-- pricing range - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/jquery-ui.css">

    <!-- custom - css include -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.css">

    <style>
    </style>
</head>
<body>
    <!-- Navigation -->
    <header class="header_section secondary_header sticky text-white clearfix">

        <div class="header_bottom clearfix">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="brand_logo">
                            <a href='@Url.Action("Index", "List", new { Area = "Voitures" })'>
                                <img src="~/assets//images/logo/logo_01_2x.png" srcset="~/assets//images/logo/logo_01_2x.png 2x" alt="logo_not_found">
                                <img src="~/assets//images/logo/logo_02_2x.png" srcset="~/assets//images/logo/logo_02_2x.png 2x" alt="logo_not_found">
                            </a>
                        </div>
                    </div>

                

                    <div class="col-lg-6 col-md-12">
                        <nav class="main_menu clearfix">
                            <ul class="ul_li_center clearfix">
                              
                                <li><a class="nav-link" href="@Url.Action("Index", "List", new { Area = "Voitures" })">Acceuil</a></li>
                                <li class="has_child">
                                    <a href="#!">Mes Voitures</a>
                                    <ul class="submenu">

                                        <li><a href="@Url.Action("UserDashboard", "Default")">Acceuil</a></li>
                                        <li><a href="@Url.Action("AddCar", "Default")">Nouvelle voiture</a></li>
                                        <li><a href="@Url.Action("ListReservation", "Default",new { id=Session["PropID"]})">Resérvations</a></li>
                                    </ul>
                                </li>
                                <li class="has_child">
                                    <a href="#!">Mon Espace</a>
                                    <ul class="submenu">

                                        <li><a href="@Url.Action("EditProfil", "Default",new { id=Session["PropID"]})">Profil</a></li>
                                        <li><a href="@Url.Action("Login", "Default")">Se déconnecter</a></li>
                                    </ul>
                                </li>
                               
                                <li><a class="nav-link" href="@Url.Action("AddReclamation", "Default",new { id=Session["PropID"]})">Réclamer</a></li>
                               

                           
    </header>
    <!-- Page Content -->

    <div class="container">
        <!-- Jumbotron Header -->

        @RenderBody()
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   
</body>
</html>
