@model IEnumerable<Projet_Asp_Location_Voitures_2021.Models.Proprietaire>

@{
    ViewBag.Title = "ListProp";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tables - SB Admin</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    <style>
        a
        {
            padding-left:10px;
        }
    </style>
</head>
<body class="sb-nav-fixed">

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Liste des propriétaires
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Nom Complet
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Tél
                            </th>
                            <th>
                                Adresse
                            </th>
                            <th>
                                Type
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            var favClassName = "far fa-star fa-lg";
                            var banClassName = "fas fa-user-lock fa-lg";
                            var favourite = "set";
                            var blocked = "set";

                            if (item.Favourite == true)
                            {
                                favClassName = "fas fa-star fa-lg";
                                favourite = "unset";
                            }

                            if (item.Blocked == true)
                            {
                                banClassName = "fas fa-unlock fa-lg";
                                blocked = "unset";
                            }

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name_Prop)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email_Prop)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone_number_Prop)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Adresse_Prop)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    <a href="@Url.Action("EditProp", "Prop", new { id = item.Id_Proprietaire})" id="btnSearch" class="my-auto"><img src="~/images/edit.jpg" width="30" /></a>
                                    <a href="@Url.Action("DeleteProp", "Prop", new { id = item.Id_Proprietaire })" id="btnClear" class="my-auto"><img src="~/images/trash.png" width="30" /></a>
                                    <a href="@Url.Action("ListVoiture", "Prop", new { id = item.Id_Proprietaire })" id="btnClear" class="my-auto"><img src="~/images/blackcar.png" width="40" /></a>
                                    <a href="@Url.Action("FavoriteProp","UserStatus", new { id = item.Id_Proprietaire , status = favourite })" id="btnFav" class="my-auto" style="text-decoration:none;color:black"><i class="@favClassName"></i></a>
                                    <a href="@Url.Action("BanProp","UserStatus", new { id = item.Id_Proprietaire , status = blocked })" id="btnBan" class="my-auto" style="text-decoration:none;color:black"><i class="@banClassName"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/datatables-demo.js"></script>
</body>
</html>


